name: CI (feat)

on:
  push:
    branches:
      - "feat/**"
  pull_request:
    branches:
      - "main"

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build & Test (Gradle)
        run: ./gradlew clean test build
